<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用接口 代理的方式 namespace必须和接口的全路径名称一致 -->
<mapper namespace="edu.fzu.etest.mapper.TestMapper">

    <select id="listTest" resultType="edu.fzu.etest.bean.Test">
        SELECT * FROM test as t WHERE t.id not in (
          SELECT g.tid FROM grade as g WHERE g.sid = ${sid}
        )
    </select>

    <select id="listTestFin" resultType="edu.fzu.etest.bean.Test">
        SELECT *
        FROM test as t,grade as g
        WHERE t.id = g.tid AND g.sid = ${sid}
    </select>

</mapper>

